<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style-guide</title>
    <link rel="stylesheet" href="/styles/index.css">
    <style>
        .spaces span{
            display: inline-block;
            background: var(--text);
            height: auto;
            aspect-ratio: 1;
        }
    </style>
</head>
<body>
    <main class="wrapper">
        <div class="region flow">
            <h1>C'est ça le thème</h1>
            <h2>Types</h2>
            <section>
                <p style="font-size:var(--fs--2)">type--2</p>
                <p style="font-size:var(--fs--1)">type--1</p>
                <p style="font-size:var(--fs-0)">type-0</p>
                <p style="font-size:var(--fs-1)">type-1</p>
                <p style="font-size:var(--fs-2)">type-2</p>
                <p style="font-size:var(--fs-3)">type-3</p>
                <p style="font-size:var(--fs-4)">type-4</p>
                <p style="font-size:var(--fs-5)">type-5</p>
            </section>
        </div>

        <div class="region flow">
            <h2>Spaces</h2>
            <section class="flow spaces">
                <div><span style="width:var(--space-2xs);"></span>2xs</div>
                <div><span style="width:var(--space-xs);"></span>xs</div>
                <div><span style="width:var(--space-s);"></span>s</div>
                <div><span style="width:var(--space-m);"></span>m</div>
                <div><span style="width:var(--space-l);"></span>l</div>
                <div><span style="width:var(--space-xl);"></span>xl</div>
                <div><span style="width:var(--space-2xl);"></span>2xl</div>
                <div><span style="width:var(--space-3xl);"></span>3xl</div>
            </section>
        </div>
        <div class="region flow">
        <h2>Prose</h2>
            <section class="prose flow">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur maxime saepe <em>repudiandae</em> fugit vitae neque dolor eveniet! Et quam, molestiae dolor tempora labore <strong>recusandae</strong> distinctio facere obcaecati rerum minima eius!</p>
                <ul>
                    <li>lorem</li>
                    <li>ipsum</li>
                    <li>dolor</li>
                    <li>sit</li>
                    <li>amet</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione distinctio dolores odit provident, error modi fuga aliquid, similique debitis amet reprehenderit. Velit soluta laboriosam impedit ut nobis vero cupiditate minus.</p>
                <ol>
                    <li>lorem</li>
                    <li>ipsum</li>
                    <li>dolor</li>
                    <li>sit</li>
                    <li>amet</li>
                </ol>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laudantium architecto aspernatur voluptatum minima commodi voluptas exercitationem <a href="https://example.com">consequatur</a> suscipit incidunt, quas praesentium saepe quidem nam similique molestiae optio voluptatibus! Perferendis?</p>

                <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tempore aperiam. Incidunt, tempore molestias? Nulla aliquid distinctio eius iusto. Quasi eligendi eius minus. Minus illo consequatur, sint ad doloribus perferendis.</blockquote>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, ab officiis ullam doloribus eaque repellat quam autem inventore numquam atque commodi maxime accusamus dolores vitae libero aliquam ipsum veritatis dicta?</p>
            {% highlight 'arduino' %}
void setup() {
    // initialize digital pin LED_BUILTIN as an output.
    pinMode(LED_BUILTIN, OUTPUT);
}

// the loop function runs over and over again forever
void loop() {
    digitalWrite(LED_BUILTIN, HIGH);  // turn the LED on (HIGH is the voltage level)
    delay(1000);                      // wait for a second
    digitalWrite(LED_BUILTIN, LOW);   // turn the LED off by making the voltage LOW
    delay(1000);                      // wait for a second
}
            {% endhighlight %}

            </section>
        </div>

    </main>

    <script src="/scripts/index.js"></script>
    <script src="https://unpkg.com/@achtaitaipai/niles@0.0.20/dist/index.global.js"></script>
    <script>
        niles.start(
            {
    minWidth: 320,
    maxWidth: 1240,
    minFontSize: 16,
    maxFontSize: 18,
    minTypeScale: 1.067,
    maxTypeScale: 1.2,
    negativeTypeSteps: 2,
    positiveTypeSteps: 5,
    negativeSpaceSteps: [0.75, 0.5, 0.25],
    positiveSpaceSteps: [1, 1.5, 2, 3, 4, 6],
    typeCssPrefix: "fs",
    spaceCssPrefix: "space",
    colorCssPrefix: "",
    colorsKeys: ["surface", "text", "link"], 
    colorsValues: ["#f8f9fa", "#212529","#1971c2"],
    fontCssPrefix: "font",
    fontsKeys: ["base", "code"],
    fontsValues: [
      "'Titillium', " + niles.modernFontStack.systemui,
      niles.modernFontStack.monocode,
    ],
    fontsOptions: {
      titillium: "'Titillium', " + niles.modernFontStack.systemui,
      ...niles.modernFontStack,
    },
  }
        )
    </script>
</body>
</html>