*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-inline: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: var(--text);
}

a[href],
area,
button,
input,
label[for],
select,
summary,
textarea,
[tabindex]:not([tabindex*="-"]) {
  /* disable background on tap */
  -webkit-tap-highlight-color: transparent;
  /*  disable additional non-standard gestures such as double-tap to zoom */
  touch-action: manipulation;
}
