.text-lg {
  font-size: var(--fs-2);
}

.text-xl {
  font-size: var(--fs-3);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

.text-sm {
  font-size: var(--fs--1);
}

.leading-tight {
  line-height: 1.2;
}
