---
import Base from "../layouts/Base.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Base>
  <h1>Le site à Rafiki</h1>
  <ul>
    {
      projects.map((el) => (
        <li>
          <a href={`projets/${el.slug}`}>
            <h2>{el.data.title}</h2>
            <Image src={el.data.thumbnail} alt="" />
          </a>
        </li>
      ))
    }
  </ul>
</Base>
