@import url("./global/fonts.css");
@import url("./global/variables.css");
@import url("./global/reset.css");
@import url("./components/header.css");
@import url("./components/nav.css");
@import url("./components/footer.css");
@import url("./components/decorator.css");
@import url("./components/prose.css");
@import url("./components/projectBanner.css");
@import url("./components/cover.css");
@import url("./utils/wrapper.css");
@import url("./utils/flow.css");

/* DEBUG */

body > div[class^="tp-"] {
  z-index: 999;
  position: fixed;
  top: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--font-base);
  color: var(--text);
  background: var(--surface);
  font-size: var(--fs-0);
}

main {
  flex-grow: 1;
  margin-block: var(--space-xl) var(--space-2xl);
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  line-height: 1.2;
}
h4,
h5,
h6 {
  font-size: var(--fs-1);
}

h3 {
  font-size: var(--fs-2);
}

h2 {
  font-size: var(--fs-3);
}

h1 {
  font-size: var(--fs-4);
}
