{% extends "layouts/base.njk" %}

{% block content %}
    <div class="aboutSection region" data-align="center" style="--region-space:var(--space-xl)">
        {% if cover and cover.src %}
            <div class="aboutSection_image">
                {% image cover.src, cover.alt, [320, 400], "(min-width:1050px) 320px, (min-width: 425px) 400px, 100vw" %}
            </div>
        {% endif %}
        <article class="aboutSection_content prose flow">
        {{ content | safe}}
        </article>
    </div>
{% endblock content %}