{% extends "layouts/base.njk" %}

{% block content %}
    <div class="aboutSection" data-align="center">
        {% if cover and cover.src %}
            <div class="aboutSection_image">
                {% image cover.src, cover.alt %} 
            </div>
        {% endif %}
        <article class="aboutSection_content prose flow">
        {{ content | safe}}
        </article>
    </div>
{% endblock content %}