<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Raph</title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <header>
            This page is also available in:
            {% for link in page.url | locale_links %}
                {%- if not loop.first %},{% endif %}
                <a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.label}}</a>
            {% endfor %}
        </header>
        {% include "navigation.njk" %}
        {{ content | safe }}
    </body>
    {# <script src="/scripts/index.js"></script> #}
</html>