{% import "utils.njk" as utils %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{config.title}} • {{ title | capitalize}}</title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body data-barba="wrapper">
        <div data-barba="container">
            <header>
                <div class="wrapper" data-type="wide">
                    <a href="{{"/" | locale_url}}" class="bold text-lg">{{ utils.splitLetters(config.title )}}</a>
                    <nav class="nav--desktop">
                        <ul role="list">
                            {% for item in collections.page | favor_lang | sort_by_priority%}
                                <li>
                                    <a href="{{ item.url }}{{ item.data.target }}"  aria-current={{"page" if page.url == item.url else "false" }} class="link">
                                        {{utils.splitLetters(item.data.title)}}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <nav class="nav--mobile">
                        <c-hamburger>
                            {% set menuLabel = "menu" | i18n %}
                            {% set closeLabel = "close" | i18n %}
                            <button aria-expanded="false" style="--close-length:{{ closeLabel.length }}; --open-length:{{ menuLabel.length }}">
                                <span class="open">{{utils.splitLetters("Menu")}}</span>
                                <span class="close" aria-hidden="true">{{utils.splitLetters(closeLabel)}}</span>
                            </button>
                            <ul role="list">
                                {% for item in collections.page | favor_lang | sort_by_priority%}
                                    <li style="--index:{{ loop.index }};">
                                        <a href="{{ item.url }}{{ item.data.target }}" aria-current={{"page" if page.url == item.url else "false" }}>{{ utils.splitLetters(item.data.title) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </c-hamburger>
                    </nav>
                </div>
            </header>
            <c-sinwave {{"data-intro" if isHome}}>
                <svg viewBox="0 0 300 10" xmlns="http://www.w3.org/2000/svg">
                    <g id="sinWaveSchema">
                        {# mask before wave #}
                        <path class="shape" d="M-300 5 H 80 V 0 h -380 z"/>
                        {# stroke before inter #}
                        <path class="stroke" d="M-300 5 L 8 5 "/>
                        {# stroke after inter #}
                        <path class="stroke desktopOnly" d="M18 5 L 80 5 "/>
                        <path class="stroke mobileOnly" d="M30 5 L 80 5 "/>
                        {# circles of inter #}
                        <circle cx="8" cy="5" r=".6" stroke="currentColor" fill="currentColor"/>

                        <circle cx="18" cy="5" r=".6" stroke="currentColor" fill="currentColor" class="desktopOnly"/>
                        <circle cx="30" cy="5" r=".6" stroke="currentColor" fill="currentColor" class="mobileOnly"/>
                        {# inter line #}
                        <path d="M8 5 L 18 5" class="stroke inter desktopOnly" stroke-linecap="round"/>
                        <path d="M8 5 L 30 5" class="stroke inter mobileOnly" stroke-linecap="round"/>
                        {# mask wave #}
                        <path class="shape" d="M80 5 L300 5 V0 H80z" id="waveShape"/>
                        {# stroke wave #}
                        <path class="stroke" d="M80 5 L300 5" id="waveStroke"/>
                    </g>

                </svg>
            </c-sinwave>

            <main class="wrapper" id="content">
                {% block content %}
                {% endblock content %}
            </main>
            <footer class="footer wrapper" data-type="wide">
                <p class="footer_copyright">{{config.copyright}}</p>
                {% if page.url | locale_links | length %}
                    <ul role="list" class="footer_languages">
                        {% for link in page.url | locale_links %}
                            {%- if not loop.first %},{% endif %}
                            <li>
                                <a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}" class="link">
                                    {{ utils.splitLetters(link.label) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </footer>
        </div>
    </body>

    <script src="/scripts/index.js"></script>
</html>