<!DOCTYPE html>
<html lang="{{ page.lang }}">
    {% include "head.njk" %}
    <body data-barba="wrapper">
        <div data-barba="container">
            {% include "header.njk" %}
            <c-sinwave data-label-open="{{ "openInter" | i18n }}" data-label-close="{{ "closeInter" | i18n }}"></c-sinwave>
            <main class="wrapper" id="content">
                {% block content %}
                {% endblock content %}
            </main>
            {% include "footer.njk" %}
            <div class="transitionScreen" aria-hidden="true"></div>
        </div>
    </body>
    <script src="/scripts/index.js"></script>
</html>