{% extends "layouts/base.njk" %}
{% import "utils.njk" as utils%}

{% block content %}

<div class="flow" style="--flow-space:var(--space-xl)">
 {% for exhibition in collections.exhibitions | favor_lang | sort_by_priority %}
    <article class="exhibitionCard">
        <c-reel-wrapper data-prev-label="{{"previousImage" | i18n}}" data-next-label="{{"nextImage" | i18n}}">
            <div class="exhibitionCard_images" data-wrapper>
                {% for image in exhibition.data.gallery %}
                    {% image image.src, image.alt | default("") %}
                {% endfor %}
            </div>
        </c-reel-wrapper>
        <div class="exhibitionCard_description flow" style="--flow-space:var(--space-2xs)">
            {{ utils.cardHeader(exhibition, "exhibitionCard_header") }}
            <div class="exhibitionCard_content prose flow">
                {{exhibition.content | safe}}
            </div>
        </div>
    </article>
 {% endfor %}
</div>

{% endblock %}