{% import "macros.njk" as macros%}
{%extends "layouts/base.njk"%}

{% set isHome = true %}

{% block content %}
    <ul role="list" class="projectsList region" style="--region-space:var(--space-3xl)">
        {% for project in collections.projects | favor_lang | sort_by_priority %}
            <li>
                <a href="{{ project.url }}" class="projectCard">
                    {% image project.data.thumbnail.src, project.data.thumbnail.alt, ["auto"], undefined, true, ["webp","png"] %}
                    <span class="projectCard_title bold text-xl">{{ macros.splitLetters(project.data.title) }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}
