{% extends "layouts/base.njk" %}

{% block content %}
    {% if cover and cover.src %}
        <div class="cover">
            {% image cover.src, cover.alt %} 
        </div>
    {% endif %}
    <article>
        <div class="projectHeader region">
            <div class="projectHeader_infos flow" >
                {% if title %}
                    <h1 class="text-lg bold">{{title}}</h1>
                {% endif %}
                {% if moment %}
                    <p class="bold" style="--flow-space:var(--space-2xs)">{{moment}}</p>
                {% endif %}
                {% if legend %}
                    <div class="italic text-sm prose">{{legend | parse_markdown | safe }}</div>
                {% endif %}
            </div>
            {% if description %}
                <div class="projectHeader_resume prose flow">
                    {{ description | parse_markdown | safe}}
                </div>
            {% endif %}
        </div>
        <div class="prose flow">
            {{content | safe}}
        </div>
    </article>
{% endblock content %}