{% extends "layouts/base.njk" %}

{% block content %}
    <div class="cover">
        {% image cover.src, cover.alt %} 
    </div>
    <article>
        <div class="projectBanner">
            <div class="projectBanner_cartel flow">
                <h1 class="projectBanner_title">{{title}}</h1>
                <p class="projectBanner_date">[ {{moment}} ]</p>
                <div class="projectBanner_legend prose flow">{{legend | parse_markdown | safe }}</div>
            </div>
            <div class="projectBanner_description prose flow">
                {{ description | parse_markdown | safe}}
            </div>
        </div>
        <div class="prose flow">
            {{content | safe}}
        </div>
    </article>
{% endblock content %}