{% extends "layouts/base.njk" %}

{% block content %}
    {% if cover and cover.src %}
        <div class="cover">
            {% image cover.src, cover.alt %} 
        </div>
    {% endif %}
    <article>
        <div class="projectBanner">
            <div class="projectBanner_cartel flow">
                {% if title %}
                    <h1 class="projectBanner_title">{{title}}</h1>
                {% endif %}
                {% if moment %}
                    <p class="projectBanner_date">[ {{moment}} ]</p>
                {% endif %}
                {% if legend %}
                    <div class="projectBanner_legend prose flow">{{legend | parse_markdown | safe }}</div>
                {% endif %}
            </div>
            {% if description %}
                <div class="projectBanner_description prose flow">
                    {{ description | parse_markdown | safe}}
                </div>
            {% endif %}
        </div>
        <div class="prose flow">
            {{content | safe}}
        </div>
    </article>
{% endblock content %}