{% extends "layouts/base.njk" %}
{% import "utils.njk" as utils%}

{% block content %}
<style>
    img{
        max-height: 60vh;
        width: auto;
        margin-inline:auto;
    }
</style>
    <div class="researchList-desktop masonry" style="--row-gutter:1rem;">
        {% for column in collections.research | favor_lang | sort_by_priority | distribute(2)%}
            <div>
                {% for item  in column %}
                    <article class="divide-y flow" style="--divide-space:var(--space-m); width:100%;">
                            {% if item.data.cover %}
                                {% image item.data.cover.src, item.data.cover.alt %} 
                            {% endif %}
                            {{ utils.cardHeader(item)}}
                            <c-collapse data-label="{{ "detail" | i18n}}" style="--flow-space:var(--space-s)">
                                <div class="prose flow region" style="--region-space:var(--space-s)">
                                    {{ item.content | safe }}
                                </div>
                            </c-collapse>
                        </article>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="researchList flow" style="--row-gutter:1rem;">
        {% for item in collections.research | favor_lang | sort_by_priority %}
                    <article class="divide-y flow" style="--divide-space:var(--space-m); width:100%;">
                            {% if item.data.cover %}
                                {% image item.data.cover.src, item.data.cover.alt %} 
                            {% endif %}
                            {{ utils.cardHeader(item)}}
                            <c-collapse data-label="{{ "detail" | i18n}}" style="--flow-space:var(--space-s)">
                                <div class="prose flow region" style="--region-space:var(--space-s)">
                                    {{ item.content | safe }}
                                </div>
                            </c-collapse>
                        </article>
                {% endfor %}
    </div>


{% endblock content %} 