{% extends "layouts/base.njk" %}
{% import "macros.njk" as macros%}

{% block content %}
    <article class="region" style="--region-space:var(--space-xl);">
        <div class="researchList-desktop masonry" style="--row-gutter:var(--space-l);">
            {% for column in collections.research | filter_by_lang | sort_by_priority | distribute(2)%}
                <div>
                    {% for item  in column %}
                        <article class="researchItem flow" style="--divide-space:var(--space-m); ">
                            {% if item.data.cover %}
                                {% image item.data.cover.src, item.data.cover.alt, [600] %}
                            {% endif %}
                            {{ macros.cardHeader(item)}}
                            <c-collapse data-label="{{ "detail" | i18n}}" style="--flow-space:var(--space-s)">
                                <div class="prose flow region" style="--region-space:var(--space-s)">
                                    {{ item.content | safe }}
                                </div>
                            </c-collapse>
                        </article>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="researchList flow" style="--row-gutter:var(--space-l);">
            {% for item in collections.research | filter_by_lang | sort_by_priority %}
                    <article class="researchItem flow" style="--divide-space:var(--space-m);">
                        {% if item.data.cover %}
                            {% image item.data.cover.src, item.data.cover.alt,[300,600,800,"auto"], "(max-width:30rem) 100vw, 75vw"%}
                        {% endif %}
                        {{ macros.cardHeader(item)}}
                        <c-collapse data-label="{{ "detail" | i18n}}" style="--flow-space:var(--space-s)">
                            <div class="prose flow region" style="--region-space:var(--space-s)">
                                {{ item.content | safe }}
                            </div>
                        </c-collapse>
                    </article>
            {% endfor %}
        </div>
    </article>
{% endblock content %} 