{% extends "layouts/base.njk" %}
{% import "utils.njk" as utils%}



{% set items = [
{letter:"a"},
{letter:"b"},
{letter:"c"},
{letter:"d"},
{letter:"e"},
{letter:"f"},
{letter:"g"},
{letter:"h"},
{letter:"i"},
{letter:"j"},
{letter:"k"},
{letter:"l"},
{letter:"m"},
{letter:"n"},
{letter:"o"},
{letter:"p"},
{letter:"q"},
{letter:"r"},
{letter:"s"}]  %}

{% block content %}
    <div class="masonry">
        {% for column in items | distribute(2)%}
            <div>
                {% for item in column %}
                    <article>
                            {{ item.letter }}
                            {% set nline = [1,2,3,4,5,6,7,8,9] | random %}
                            {% for j in range(0,nline) %}
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsam, aspernatur repellendus accusantium molestiae saepe possimus vitae maxime similique magnam delectus. Voluptas perspiciatis quam sint pariatur, incidunt ab in ullam?</p>
                            {% endfor%}
                        </article>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


{% endblock content %} 