<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{config.metaDescription}}">
    <title>{{config.title}} • {{ title | capitalize}}</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>