{% import "macros.njk" as macros %}
<header>
    <div class="wrapper" data-type="wide">
        <a href="{{"/" | locale_url}}" class="bold text-lg">{{ macros.splitLetters(config.title )}}</a>
        <nav class="nav--desktop">
            <ul role="list">
                {% for item in collections.page | favor_lang | sort_by_priority%}
                    <li>
                        <a href="{{ item.url }}"  aria-current={{"page" if page.url == item.url else "false" }} class="link">
                            {{macros.splitLetters(item.data.title)}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <nav class="nav--mobile">
            <c-hamburger>
                {% set menuLabel = "menu" | i18n %}
                {% set closeLabel = "close" | i18n %}
                <button aria-expanded="false" style="--close-length:{{ closeLabel.length }}; --open-length:{{ menuLabel.length }}">
                    <span class="open">{{macros.splitLetters("Menu")}}</span>
                    <span class="close" aria-hidden="true">{{macros.splitLetters(closeLabel)}}</span>
                </button>
                <ul role="list">
                    {% for item in collections.page | favor_lang | sort_by_priority%}
                        <li style="--index:{{ loop.index }};">
                            <a href="{{ item.url }}" aria-current={{"page" if page.url == item.url else "false" }} data-hamburger>{{ macros.splitLetters(item.data.title) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </c-hamburger>
        </nav>
    </div>
</header>