<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ "metadescription" | i18n }}">
    <meta name="keywoards" content="{{ "keywoards" | i18n }}">
    <title>{{config.title}}{{" • " + title | capitalize if title}}</title>
    <link rel="shortcut icon" href="{{config.favicon}}" type="image/x-icon">
    <link rel="stylesheet" href="/styles/index.css">
    <meta property="og:title" content="{{config.title}}{{" • " + title | capitalize if title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{config.url}}{{page.url}}" />
    {% if config.ogImage %}
    <meta property="og:image" content="{{ config.url }}/{{ config.ogImage }}" />
    {% endif %}
</head>