<ul>
    {% for work in collections.works | favor_lang %}
        <li>
            <a href="{{ work.url }}">{{work.data.title}}
                {% if work.isFallback %}
                    <sup>{{work.data.lang}}</sup>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>