.aboutSection {
  display: flex;
  gap: var(--space-3xl);
  align-items: center;
  justify-content: center;
  @media (width < 65rem) {
    flex-direction: column;
  }
}

.aboutSection_image {
  flex-basis: 25rem;
  max-inline-size: 30rem;
}

.aboutSection_content {
  max-inline-size: 75ch;
  flex-basis: 60ch;
  flex-grow: 1;
}
