c-collapse {
  display: flex;
  flex-direction: column;
  & > button {
    align-self: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: var(--fs-3);
  }
  & svg {
    width: 1em;
    height: 1em;
    stroke: currentColor;
    fill: none;
    stroke-width: 1.5;
  }
}
