.footer {
  width: 100%;
  padding-block: var(--space-s);
  display: flex;
  font-size: var(--fs--1);
}

@media (width >60rem) {
  .footer {
    padding-inline: var(--space-3xl);
  }
}

.footer_copyright {
  margin-inline-end: auto;
}

.footer_languages {
  display: flex;
  gap: var(--space-2xs);
  & a {
    text-decoration: none;
  }
  & a[aria-current="page"] {
    font-weight: 600;
  }
}
