header {
  position: sticky;
  top: 0;
  background: var(--surface);
  height: var(--header-height);
  z-index: 11;
  display: flex;
  align-items: end;
}

header > div {
  display: grid;
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline-start: var(--space-3xl);
}

.header_title {
  text-decoration: none;
  font-size: var(--fs-2);
  font-weight: 600;
  text-align: right;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}
