.link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  & .link_clone {
    position: absolute;
    left: 0;
    top: 0;
  }
  & .letter {
    transform-origin: top;
    transform: translateY(0);
    transition: transform var(--ease-in-2) 0.3s
      calc(var(--letter-index) * 0.015s);
  }
  & .link_clone .letter {
    transform-origin: top;
    transform: translateY(120%);
  }
  &:hover {
    & .letter {
      transition: transform var(--ease-out-3) 0.6s
        calc(var(--letter-index) * 0.015s);
      transform: translateY(-150%);
    }
    & .link_clone .letter {
      transform-origin: top;
      transform: translateY(0);
    }
  }
}
