.link {
  position: relative;
  display: inline-block;
  &:hover:not([aria-current="page"]) .letter {
    animation: link-letter-anim 0.3s calc(var(--letter-index) * 0.04s);
  }
}

@keyframes link-letter-anim {
  50% {
    transform: translateY(-20%);
  }
}
