.nav--desktop,
.nav--mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.nav--desktop ul {
  display: flex;
  gap: var(--space-3xl);
  justify-content: flex-end;
  & li > a {
    text-decoration: none;
  }
  & li > a[aria-current="page"] {
    font-weight: 600;
  }
}

.nav--desktop a {
  position: relative;
  display: inline-block;
  /* overflow: hidden; */
  & .clone {
    position: absolute;
    left: 0;
    top: 0;
  }
  & .letter {
    transform-origin: bottom;
    transform: translateY(0) rotateX(0);
    transition: transform ease-out 0.3s calc(var(--letter-index) * 0.015s);
  }
  & .clone .letter {
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
    /* font-style: italic; */
  }
  &:hover {
    & .letter {
      transform-origin: bottom;
      transform: translateY(-100%) rotateX(90deg);
    }
    & .clone .letter {
      transform-origin: top;
      transform: translateY(0) rotateX(0);
    }
  }
}

c-hamburger {
  display: flex;
  align-items: center;
}

.nav--mobile {
  & button {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
  }

  & ul {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--surface);
    flex-direction: column;
    gap: var(--space-xl);
    justify-content: center;
    align-items: center;
    font-size: var(--fs-3);
  }
  & li > a {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
  }
  & li > a > span {
    display: inline-block;
  }
  & li > a[aria-current="page"] {
    font-weight: 600;
  }
}

@media (width < 60rem) {
  .nav--desktop {
    display: none;
  }
}

@media (width >= 60rem) {
  .nav--mobile {
    display: none;
  }
}
