.nav ul {
  display: flex;
  gap: var(--space-3xl);
  justify-content: flex-end;
  & li > a {
    text-decoration: none;
  }
  & li > a[aria-current="page"] {
    font-weight: 600;
  }
}

@media (width < 55rem) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background: var(--surface);
    & > ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: var(--space-xl);
      font-size: var(--fs-3);
    }
  }
}
