.nav--desktop,
.nav--mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
c-hamburger {
  display: flex;
  align-items: center;
}
.nav--desktop ul {
  display: flex;
  gap: var(--space-3xl);
  justify-content: flex-end;
  & li > a {
    text-decoration: none;
  }
  & li > a[aria-current="page"] {
    font-weight: 600;
  }
}

.nav--mobile {
  & button {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 2.2rem;
    cursor: pointer;
    z-index: 10;
  }

  & ul {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--surface);
    flex-direction: column;
    gap: var(--space-xl);
    justify-content: center;
    align-items: center;
    font-size: var(--fs-3);
  }
  & li {
    overflow: hidden;
  }

  & li > a {
    text-decoration: none;
    display: inline-block;
  }
  & li > a[aria-current="page"] {
    font-weight: 600;
  }
}

@media (width < 60rem) {
  .nav--desktop {
    display: none;
  }
}

@media (width >= 60rem) {
  .nav--mobile {
    display: none;
  }
}
