.projectBanner {
  display: grid;
  gap: var(--space-xs);
  margin-block: var(--space-l);
}

@media (width >= 65rem) {
  .projectBanner {
    grid-template-columns: minmax(auto, 40ch) minmax(auto, 70ch);
    /* justify-content: space-between; */
    gap: var(--space-xl);
  }
}

.projectBanner_cartel {
  --flow-space: var(--space-3xs);
}

.projectBanner_description {
}

.projectBanner_title {
  font-size: var(--fs-2);
  font-weight: 600;
}

.projectBanner_date {
  /* font-size: var(--fs-1); */
  font-weight: 600;
}

.projectBanner_legend {
  font-weight: 300;
  font-style: italic;
  font-size: var(--fs--1);
  --flow-space: 0;
}
