.projectCard {
  position: relative;
}

.projectCard img {
  height: 15rem;
  width: auto;
}

.projectCard_title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: none;
  text-align: center;
  & .word {
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (hover) {
  .projectCard:hover img {
    opacity: 0.5;
  }
  .projectCard:hover .projectCard_title {
    display: block;
    overflow: hidden;
    & .letter {
      animation: projectCard-letter 0.3s
        calc(0.2s + var(--letter-index) * 0.02s) both;
    }
  }
}

@keyframes projectCard-letter {
  0% {
    transform: translate(0, 110%);
  }
  100% {
    transform: translate(0, 0);
  }
}
