.projectBanner {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
  margin-block: var(--space-l);
}

.projectBanner_cartel {
  flex-basis: 15rem;
  flex-grow: 999;
  --flow-space: var(--space-3xs);
}

.projectBanner_description {
  flex-basis: 75ch;
  flex-grow: 1;
  min-inline-size: 50%;
}

.projectBanner_title {
  font-size: var(--fs-2);
  font-weight: 600;
}

.projectBanner_date {
  /* font-size: var(--fs-1); */
  font-weight: 600;
}

.projectBanner_legend {
  font-weight: 300;
  font-style: italic;
  font-size: var(--fs--1);
  --flow-space: 0;
}
