.prose {
  --grid-gap: var(--space-s);
  & p {
    max-width: 75ch;
  }
  & em {
    font-weight: 300;
  }
}

.prose p:has(img) {
  --threshold: 40rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gap);
  --flow-space: var(--grid-gap);
  max-width: 100%;
  margin-inline: auto;
  & > picture {
    flex-basis: max((var(--threshold) - 100%) * 999, 0px);
    aspect-ratio: var(--ratio);
    flex-grow: calc(var(--ratio));
    background-size: cover;
    background-repeat: no-repeat;
  }
  & img {
    display: block;
    width: 100%;
    height: auto;
  }
  & + & {
    --flow-space: var(--grid-gap);
  }
  /* for vimeo iframes */
  script + & {
    margin-block-start: var(--grid-gap);
  }
}
