.prose {
  --grid-gap: var(--space-l);

  & > * {
    max-width: 75ch;
  }

  & > div,
  & > [class] {
    max-width: 100%;
  }

  & blockquote {
    border-inline-start: solid 2px currentColor;
    padding-inline-start: var(--space-2xs);
  }

  & ul,
  & ol {
    --flow-space: var(--space-2xs);
    padding-left: var(--space-l);
  }
  & li + li {
    margin-block-start: var(--space-2xs);
  }

  & a {
    text-decoration: underline;
  }

  & em {
    font-weight: 300;
  }

  & strong {
    font-weight: 600;
  }
  &
    > :is(p, h1, h2, h3, h4, h5, h6, blockquote):not([class])
    + :is(p, h1, h2, h3, h4, h5, h6, blockquote):not([class]) {
    margin-block-start: 1em;
  }
}
