c-sinwave {
  position: sticky;
  top: var(--header-height);
  z-index: 10;
  &[data-intro="true"] {
    margin-block-start: calc(50vh - var(--header-height));
    margin-block-end: 50vh;
  }
}

/* body::after {
  content: "";
  position: fixed;
  width: 1px;
  height: 100%;
  background: red;
  top: 0;
  left: 50%;
} */
