.reel {
  display: flex;
  block-size: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--text) var(--surface);
  scroll-snap-type: x mandatory;
  gap: var(--space-s);
}

.reel::-webkit-scrollbar {
  block-size: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: var(--surface);
}

.reel::-webkit-scrollbar-thumb {
  background-color: var(--text);
  background-image: linear-gradient(
    var(--surface) 0,
    var(--surface) 0.25rem,
    var(--text) 0.25rem,
    var(--text) 0.75rem,
    var(--surface) 0.75rem
  );
}

.reel > * {
  flex: 0 0 auto;
  height: 100%;
  width: auto;
  scroll-snap-align: center;
}

.reel img {
  object-fit: contain;
  max-width: 100%;
  width: auto;
  height: 100%;
}
